<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>同步设置</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi"/>
    <link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon"/>
    <link rel="stylesheet" href="./css/font.css">
    <link rel="stylesheet" href="./css/xadmin.css">
    <script type="text/javascript" src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="./lib/layui/layui.js" charset="utf-8"></script>
    <script type="text/javascript" src="./js/xadmin.js"></script>
    <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
    <!--[if lt IE 9]>
    <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
    <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
<div class="x-nav">
      <span class="layui-breadcrumb">
        <a href="">首页</a>
        <a href="">文章管理</a>
        <a><cite>数据同步</cite></a>
      </span>
    <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right"
       href="javascript:location.replace(location.href);" title="刷新">
        <i class="layui-icon" style="line-height:30px">ဂ</i></a>
</div>
<div class="x-body">

    <div class="layui-form layui-col-md12 x-so layui-form-pane">
        <span style="margin-right: 20px;margin-left: 20px;">同步开关</span>
        <input type="checkbox" name="switch" id="toggle" lay-text="开启|停用" lay-filter="open" checked=""
               lay-skin="switch">
        <button class="layui-btn" onclick="toggleOpen()">提交</button>
    </div>

    <div class="layui-form layui-col-md12 x-so layui-form-pane">
        <span style="margin-right: 20px;margin-left: 20px;">手动同步</span>
        <button class="layui-btn" onclick="startSync()">立即同步</button>
    </div>

    <div class="layui-form layui-col-md12 x-so layui-form-pane">
        <span style="margin-right: 20px;margin-left: 20px;">同步时间</span>
        <input class="layui-input" placeholder="分类名" name="cate_name" id="syncTime">
        <button class="layui-btn" onclick="timeSetting()">设置(每天)</button>
    </div>

</div>
<script>
    layui.use('laydate', function () {
        var laydate = layui.laydate;
        laydate.render({
            elem: '#syncTime',
            type: 'time'
        });
    });

    function startSync() {
        var index = layer.load(function () {
        });
        $.ajax({
            method: "POST",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            url: "syncStart",
            // data: JSON.stringify({'time': time})
        }).done(function (msg) {
            layer.close(index);
            layer.msg(msg.message, {icon: 6}, function () {

            });
        });
    }

    function toggleOpen() {
        var toggle = $("#toggle").val();
        var index = layer.load(function () {
        });
        $.ajax({
            method: "POST",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            url: "syncToggle",
            data: JSON.stringify({'toggle': toggle})
        }).done(function (msg) {
            layer.close(index);
            layer.msg(msg.message, {icon: 6}, function () {
            });
        });
    }

    function timeSetting() {
        var time = $('#syncTime').val();
        if (!time) {
            layer.msg("请先选择时间", {icon: 6}, function () {
            });
            return;
        }
        var index = layer.load(function () {
        });
        $.ajax({
            method: "POST",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            url: "syncTime",
            data: JSON.stringify({'time': time})
        }).done(function (msg) {
            layer.close(index);
            layer.msg(msg.message, {icon: 6}, function () {
            });
        });
    }


</script>
</body>

</html>